html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.Header{
  flex: 1;
  display: flex;                  
  justify-content: space-between;             
  
  background: #1f2937
}

.Header a{
  flex: 1;                            
  color: White;                    
  text-decoration: none;              
  text-align: center;
 
   
}

.Header div{
  flex: 4;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Top-block, .Middle-One-Block, .Middle-two-Block, .Bottom-Block {
  flex: 3;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.Top-block{
  flex: 3 0 0;
                  
  justify-content: space-between;   
  background: #1f2937;
  flex-direction: row;
}


.Top-block .left,
.Top-block .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
}

.Top-block .text{
  display: flex; 
  
  color: white;
  flex-direction: column;
}
.Top-block span{
  
  font-weight: bold;
  font-size: 24px;
}

.Top-block  button {
 background-color: #3882f6;
  border: none;
  height: 30px;
  border-radius: 8px;
  color: white;
}

.Middle-One-Block{
  flex-direction: column;
  align-items: center;
  background: white;
}

.Middle-One-Block .FlexOne{
  display: flex;
  justify-content: space-between;
  gap: 35px;
  width: 100%;
}

.Middle-One-Block .FlexOne div{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
 
}


.Middle-two-Block{
  background: #E5E7EB;
  color: #1f2937;
  text-align: center;
}

.Bottom-Block{
  background: white;
}

.Bottom-Block .FlexOne{
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: center;
}

.Bottom-Block .FlexOne button{
  background-color: #3882f6;
  border-color: white;
  height: 30px;
  border-radius: 8px;
  color: white;
}

.Footer{
  flex:1;
}